.header {

}

.header > .numberInput{
    width: 60px;
    color: rgb(86, 148, 230);
    border: rgb(86, 148, 230) 2px solid;
    padding-left: 20px;
    border-radius: 5px;
    height: 30px;
}

.header > .load,.clear{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    font-weight: 700;
    background-color: white;
    border: 2px solid rgb(86, 148, 230);
    color: rgb(86, 148, 230);
    cursor: pointer;
    border-radius: 5px;
}
.header > .clear:hover{
    background-color: rgb(86, 148, 230);
    color: white;
}
.header > .load:hover{
    background-color: rgb(86, 148, 230);
    color: white;
}
