.home{
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
   margin-top: 80px;
}
hr{
    width: 60%;
    background-color: rgb(215, 231, 250);
    height: 2px;
    margin: 10px 0;
}
.main{
    width: 60%;
   
}