.home{
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
   margin-top: 80px;
}
hr{
    width: 60%;
    background-color: rgb(215, 231, 250);
    height: 2px;
    margin: 10px 0;
}
.main{
    width: 60%;
   
}
.header {

}

.header > .numberInput{
    width: 60px;
    color: rgb(86, 148, 230);
    border: rgb(86, 148, 230) 2px solid;
    padding-left: 20px;
    border-radius: 5px;
    height: 30px;
}

.header > .load,.clear{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    font-weight: 700;
    background-color: white;
    border: 2px solid rgb(86, 148, 230);
    color: rgb(86, 148, 230);
    cursor: pointer;
    border-radius: 5px;
}
.header > .clear:hover{
    background-color: rgb(86, 148, 230);
    color: white;
}
.header > .load:hover{
    background-color: rgb(86, 148, 230);
    color: white;
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.item{
    
    width: 200px;
    height: 200px;
}
.item > img{
    width: 100%;
    height: 100%;
}
.selected {
    border: 2px solid blue;
  }